body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: rightr;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

p {
    margin: 10px 0;
}

pre {
    background-color: #eee;
    padding: 10px;
    overflow-x: auto;
    margin-top: 10px;
}
